 body {
  margin: 0px;
  overflow: hidden;
}
.country:hover {
  stroke: black;
  stroke-width: 1;
}

.map{
  box-shadow: 3px 3px 5px 6px #ccc;
}
  .topnav {
  font-size: 25px;
  font-family: 'Share Tech';
  background-color: white;
  overflow: hidden;
  box-shadow: 3px 3px 5px 6px #ccc;
  text-align: center;
  }

  .navbar {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  box-shadow: 3px 3px 5px 6px #ccc;
  font-family: "Share Tech";
}

    /* Style the links inside the navigation bar */
    .navbar a {
      float: left;
      display: block;
      color: black;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      text-align: center;
    }

    /* Change the color of links on hover */
    .navbar a:hover {
      background-color: #ddd;
      color: black;
    }

    /* Add a color to the active/current link */
    .navbar a.active {
      background-color: #4CAF50;
      color: white;
    }

    #root {
      padding-top:100px;
      display: flex;
      justify-content: center;
    }